<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Koya DocuTracker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="<%- htmlWebpackPlugin.options.metadata.baseUrl %>">
</head>
<body aurelia-app="main">
<div style="position: absolute; top: 0; bottom: 0; right: 0; left: 0;">
    <div style="position: absolute; top: 50%; left: 50%; margin-top: -170px; margin-left: -350px; text-align: center; color: #005486;">
        <div style="font-size: 48px;">Aurelia Resources is coming for you...</div>
        <i class="fa fa-spin fa-refresh fa-3x"></i>
    </div>
</div>
<% if (htmlWebpackPlugin.options.metadata.server) { %>
<!-- Webpack Dev Server reload -->
<script src="/webpack-dev-server.js"></script>
<% } %>
</body>
</html>
